.self-intro-container {
    display: flex;
    flex-direction: row-reverse;
    margin: 150px 15% 50px 15%;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.self-intro-container .self-intro-intro{
    width: 90%;
}

.self-intro-container .self-intro-image{
    margin-right: 14%;
    padding-bottom: 1rem;

}
.self-intro-container .self-intro-image img{
    width: 100%;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.06);
}

.about-header-container{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin: 200px auto 100px auto;
}

.self-intro-container-reverse {
    display: flex;
    flex-direction: row;
    margin: 50px 15%;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.self-intro-container-reverse .self-intro-intro{
    width: 90%;
}

.self-intro-container-reverse .self-intro-image{
    margin-left: 5%;
    padding-bottom: 1rem;
}
.self-intro-container-reverse .self-intro-image img{
    width: 100%;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.06);
}

.about-header-container-reverse{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin: 200px auto 100px auto;
}

