#navbar {
    display: inline-flex;
    position: fixed;
    top:0;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 100px;
    align-items: center;
    height: 60px;
    transition: top 0.3s;
    box-sizing: border-box;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
}

nav a {
    float: right;
    display: block;
    text-decoration: none;
    margin-left: 25px;
    font-size: 16px;
    color: #868C97;
}

nav a:hover{
    color: #2C3440;
}

nav .active {
    color: #2c3440 !important;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.social-icon {
    width: 20px;
    margin: 0.5rem;
    display: inline-block;
    background-size: cover;
}

.icon-ins {
    background-image: url(../img/logo_ins.svg);

}

.icon-linkedin {
    background-image: url(../img/logo_linkedin.svg)
}

.icon-dribbble {
    background-image: url(../img/logo_dribbble.svg)
}

img {
    margin: 1rem;
}

a {
    text-decoration: none;
}