.home-header-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 150px auto 50px auto;
}

.home-header-container > h1 {
    line-height: 4rem;
}


.home-header-container > img {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}

.typewriter { 
    overflow: hidden;
    padding-right: 5px;
    border-right: 1px solid #5D6168;
    white-space: nowrap; 
    animation: 
        typing 3s steps(40, end),
        blink-caret .6s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 28% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #5D6168; }
  }


.work-container {
    display: flex;
    flex-direction: row;
    margin: 30px 15%;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 300px;
    align-items: center;
    border-radius: 5px;
    transition: .3s ease-in-out;
}

.work-container:hover {
    box-shadow:0 3px 25px 0 rgba(0, 0, 0, 0.06);
    transform: scale(1.01) !important;
    transition: .3s ease-in-out !important;
}

.work-container .work-intro {
    width: 40%;
    padding: 0 100px 0 100px;
}

.work-container .work-intro-reversed {
    width: 40%;
    padding: 0 100px 0 61% ;
}

.work-container .work-intro p,.work-container .work-intro-reversed p {
    margin: 20px 0;
}



.work-goal-setter {
    background-image: url("../img/image-homepage-goal-setter.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.work-water-fortune {
    background-image: url("../img/image-homepage-water-fortune.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}