.home-header-container{
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin: 200px auto 100px auto;
}

.typewriter { 
    overflow: hidden;
    padding-right: 5px;
    border-right: 1px solid #363B3F;
    white-space: nowrap; 
    animation: 
        typing 3s steps(40, end),
        blink-caret .6s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 28% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #363B3F; }
  }


.work-container {
    display: flex;
    flex-direction: row;
    margin: 150px 100px;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.work-container .work-intro {
    width: 40%;
}

.work-container .work-intro p {
    margin-bottom: 40px;
}

.work-container .work-image{
    margin-left: 14%;
}
.work-container .work-image img{
    width: 100%;
    margin: 0;
    transition: .4s ease-in-out;
}

.work-container .work-image img:hover {
    transform: scale(1.01);
    transition: .4s ease-in-out;
    box-shadow: 0px 1px 20px #f5f5f5;
}

.work-container .button {
    height: 35px;
    padding: 5px 10px;
    border: 1px solid #363b3f;
    font-family: "Saira Condensed", sans-serif;
    font-size: 16px;
    border-radius: 1px;
    color:#363b3f;
}

.work-container .button:hover {
    background: #363b3f;
    color: white;
    transition: .2s ease-in;
}