/* Project Sidenav */

.sidenav {
    margin-top:15%;
    position: fixed;
    float: left;
    width: 150px;
    display: none;
}

.sidenav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidenav ul li {
	list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
    /* border-bottom: 1px solid #cacaca; */
}

.sidenav ul li a{
    text-transform:uppercase;
    text-decoration: none;
    color: #cacaca;
    font-size: 14px;
}

.sidenav ul li a:hover{
	color: #677581;
}

.sidenav ul li a,
.sidenav ul li a:before,
.sidenav ul li a:after {
	transition: all .3s;
}

/* Project Header */
.project-header-dark {
    background-color:#363B3F;
    height: 400px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    align-items: flex-end;
    flex-wrap: wrap;
}

.project-header-dark div,
.project-header-light div{
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: auto 0;
    width: 500px;
    flex-wrap: wrap;
}
.project-header-dark h1{
    color: white;
    margin-bottom: 0.5em;

}

.project-header-dark .p--small {
    margin-bottom: 1.5em;

}

.project-header-dark img {
    width: 400px;
    height: auto;
    margin: auto 0;
}

.project-header-light {
    background-color:#EBEEF5;
    height: 400px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    align-items: flex-end;
    flex-wrap: wrap;
    color:#363B3F
}

.project-header-light h1{
    color: #363B3F;
    margin-bottom: 0.5em;

}

.project-header-light .p--small {
    margin-bottom: 1.5em;

}

.project-header-light img {
    width: 400px;
    height: auto;
    margin: auto 0;
}

/* Stripes and sections */

.stripe-white {
    background-color: white;
    padding: 30px 200px
}

.stripe-dark {
    background-color: #363B3F;
    padding: 30px 200px;
}

.stripe-gray {
    background-color: #fafafa;
    padding: 30px 200px;
}

.two-columns, .three-columns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.two-columns div {
    width: 40%;
}

.overview img {
    width: 400px;
}

.two-columns img {
    width: 47%;
    margin: 0;
}

.overview-mobile img {
    width:350px;
}

.overview-mobile {
    align-items: center;
}

.three-columns div {
    width: 30%;
    text-align: center;
}

.three-columns img {
    margin: 0;
    width: 100%;
}

.section {
    margin: 60px 0;
}

.one-column img{
    width: 100%;
    margin: 0;
}

.section .icon {
    width: 60px;
    margin: 10px 0;
}