/* Project Sidenav */

.progress-container {
    width: 100%;
    height: 8px;
    background-color: #ccc;
    position:fixed;

}

.progress-bar-goal-setter{
    width: 0%;
    background-color:#317EFF;
    height: 8px;
}

.sidenav {
    margin-top:15%;
    position: fixed;
    float: left;
    width: 150px;
    display: none;
}

.sidenav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidenav ul li {
	list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
    /* border-bottom: 1px solid #cacaca; */
}

.sidenav ul li a{
    text-transform:uppercase;
    text-decoration: none;
    color: #a8adb5;
    font-size: 12px;
}

.sidenav ul li a:hover{
	color: #677581;
}

.side-active {
    font-weight:500;
    color:#454D60 !important;

}

.sidenav ul li a,
.sidenav ul li a:before,
.sidenav ul li a:after {
	transition: all .3s;
}

/* Project Header */
.project-header {
    background-color:#f9f9f9;
    height: 500px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15%;

    align-items: flex-end;
    flex-wrap: wrap;
    color:#5D6168
}

.project-header-intro{
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: auto 0;
    width: 30%;
    flex-wrap: wrap;
}

.project-header h1{
    margin-bottom: 1em;

}

.project-name{
    white-space: nowrap;
}

.project-header-role {
    margin-top: 3em;
}

.project-header-image{
    width: 52%;
    height: auto;
    margin: auto 0;
}

.goal-setter-primary-color {
    color: #317EFF;
}

.invision-goal-setter{
    height: 450px;
}

.invision-goal-setter > iframe {
    position: relative;
    border-radius: 0 0 5px 5px;
    top: -221px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.06);
    width: 100%;
    height: 900px;
}

 /* Project Content */

.project-image-container {
    padding: 0 15% 40px 15%;
    align-items: center;
}

.project-image-container-small {
    padding: 0 25% 50px 25%;
}

.image-brainstorm {
    border-radius: 5px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.06);
}
.guideline-image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 15%;
    justify-content: space-between;
}

.image-guideline {
    width: 48%;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 40px;
    border-radius: 5px;
}

.image-user-testing {
    border-radius: 5px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.06);
}
 .h2-goal-setter {
     font-size: 12px;
     color: #0072FF;
     align-items: baseline;
 }

 .h3-goal-setter {
     font-size: 16px;
     color: #0072ff;
 }

 .section-intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 15%;
}

 .section-intro_header {
     margin-right:10%;
     width: 100%;
     white-space: nowrap;
 }

.project-goal{
    padding-top: 60px;
    margin: 0 15%;
    border-top: 1px solid #EBEEF5;
}
.project-goal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 0;
}

.project-goal-item {
    width: 28%;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.06);
    padding: 15px 15px 0 15px;
    border-radius: 5px;
}

.img-goal {
    width: 50px;
    margin-bottom: 10px;
}

hr.project-header-divider {
    width:25px;
    border-top: 2px solid #A8ADB5;
    margin-bottom: 10px;
}

.step-overview {
    text-align: center;
    align-items: center;
    padding: 60px 0;
}

.step-overview_intro {
    width: 35%;
    margin: 30px auto;
    text-align: left;
}

.research-finding-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 15%;
}

.research-finding-item {
    width: 28%;
    border-radius: 5px;
    padding: 15px 20px 0 20px;
    text-align: left;
    align-items: left;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.06);
}

.img-finding {
    width: 50px;
    margin-bottom: 10px;
}

.competitive-analysis-container {
    text-align: left;
    align-items: left;
    display: flex;
    flex-direction: row;
    padding: 40px 15%;
    justify-content: space-between;
}

.competitive-analysis-item {
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    width: 45%;
    border-radius:5px;
    padding: 15px 15px 0 15px;
    text-align: left;
    align-items: left;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.06);
}

.img-competitive {
    width: 50px;
    margin-right: 20px;
}

.persona-container {
    padding: 40px 15%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.persona-item {
    padding: 15px 20px;
    border-radius: 5px;
    align-items: left;
    text-align: left;
    width: 28%;
    box-shadow:0 3px 15px 0 rgba(0, 0, 0, 0.06);
}
.step-header {
    font-size: 24px;
}

.step-header-responsive {
    margin-bottom: 50px;
    font-size: 24px;
}

.image-sketch {
    width: 30%;
    border-radius: 5px;
    box-shadow:0 3px 15px 0 rgba(0, 0, 0, 0.06);
}

.iteration-container {
    padding: 0 15% 40px 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.iteration-item {
    align-items: center;
    width: 45%;
    text-align: center;
}

.image-iteration {
    border-radius: 5px;
    box-shadow:0 3px 15px 0 rgba(0, 0, 0, 0.06);
}

/* Stripes and sections */

.stripe-white {
    background-color: white;
}

.stripe-dark {
    background-color: #132145;
}

.stripe-gray {
    background-color: #fafafa;
}

.two-columns, .three-columns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.two-columns div {
    width: 40%;
}

.overview img {
    width: 400px;
}

.two-columns img {
    width: 47%;
    margin: 0;
}

.overview-mobile img {
    width:350px;
}

.overview-mobile {
    align-items: center;
}

.three-columns div {
    width: 30%;
    text-align: center;
}

.three-columns img {
    margin: 0;
    width: 100%;
}

.section {
    margin: 60px 0;
}

.one-column img{
    width: 100%;
    margin: 0;
}

.section .icon {
    width: 60px;
    margin: 10px 0;
}