
.h1, h1 {
    font-size: 28px;
    font-weight: 500;
    line-height: 1rem;
    color: #2C3440

}

.h2, h2 {
    font-size: 18px;
    font-weight: 500;
    color: #2C3440;
    margin-bottom: 1rem;
}

.h3, h3{
    font-size: 16px;
    font-weight: 400;
    color: #2C3440;
    margin-bottom: 1rem;
}

.p, p {
    font-size: 16px;
    font-weight: 300;
    color: #2C3440;
    line-height: 1.8rem;
    margin-bottom: 1rem;
}

.p--small {
    font-size: 14px;
    font-weight: 300;
    color: #2C3440
}

.text-light {
    color: #868C97;
}

.text-white {
    color:#EBEEF5
}