@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.h1, h1 {
    font-size: 28px;
    font-weight: 500;
    line-height: 2rem;
    color: #5D6168;


}

.h2, h2 {
    font-size: 20px;
    font-weight: 500;
    color: #5D6168;
    margin-bottom: 1rem;
}

.h3, h3{
    font-size: 16px;
    font-weight: 500;
    color: #5D6168;
    margin-bottom: 1rem;
}

.h4 {
    font-size: 16px;
    font-weight: 400;
    color:#677581;
    margin-bottom: 0.5rem;
}

.p, p {
    font-size: 14px;
    font-weight: 300;
    color: #5D6168;
    line-height: 1.8rem;
    margin-bottom: 1rem;
}

.p--small {
    font-size: 12px;
    color: #5D6168;
    font-family: 'Inter', sans-serif;;
}

.bold {
    font-weight: 500;
}

.regular {
    font-weight: 400;
}

.p--indent {
    text-indent: 2em;
}

.text-light {
    color: #A8ADB5;
}

.text-white {
    color:#EBEEF5
}

strong {
    font-weight: 500;
}